*{
	margin:0;
	padding:0;
  align-content:center;
	font-family:Century Gothic;
}
header{
    background-image:url(../rb.jpg);
  height: 100vh;
  background-size:cover;
  background-position:center bottom;
  align-content:center;
  }
   ul {
    word-spacing: 20px;
    color:blue;
  }
  